@import '../../style/colors';

.table {
  max-width: 1000px;
  width: 100%;

  td, th {
    padding: 8px;
  }

  td:hover {
    cursor: pointer;
  }

  tr:nth-child(even) {
    background-color: $grayDarkBlue;
  }

  tr:hover {
    background-color: $blue;

    td {
      color: $darkBlue;
    }
  }


}