.titleWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title {
  font-size: 52px;
}

.description {
  margin: 2rem 0;
  font-size: 22px;
}

.buyButton {
  font-size: 22px;
}