@import "../../style/colors";

.wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid $blue;
  padding: 0.5rem;
  margin-bottom: 2rem;
}
.currencyWrapper {
  display: flex;
}

.currency {
  margin-right: 1rem;
}

@media (max-width: 680px) {
  .currencyWrapper {
    flex-direction: column;
  }
}