@import "../../style/colors";

.wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid $blue;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.currency {
  margin-right: 1rem;
}